<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>로그인</h1>
    <form id="form1">
        <input type="text" name="info" id="id"/>
        <input type="text" name="info" id="nick"/>
        <button value="save">토큰 요청하기</button>
    </form>
    <div id="output">

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
  </body>
</html>
 